    <style>
    html,
    body {
      height: 100%;
      /* The html and body elements cannot have any padding or margin. */
    }
    /* Set the fixed height of the footer here */
    #footer {
      height: 60px;
      background-color: #f5f5f5;
    }
    /* Custom page CSS
    -------------------------------------------------- */
    /* Not required for template or sticky footer method. */

    .container .credit {
      margin: 20px 0;
    }
    </style>
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Powered By Joshua&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thanks for 
          <a href="http://golang.org">Golang</a> · 
          <a href="http://beego.me">Beego</a> · 
          <a href="http://www.bootcss.com/">Bootstrap</a>                            
        </p>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Modal -->
    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">cancel</button>
            <button type="button" class="btn btn-sm btn-danger" id="confirmYes">yes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
</html>
