{{template "index/header.html" .}}

  <div class="container">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th width="250">dirName</th>
            <th>mode</th>
            <th>user</th>
            <th>size(M)</th>
            <th>time</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <td><a style="color:#5555ff;" href="" onclick="back();return false;"><span class="glyphicon glyphicon-backward"></span></a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <a href="" onclick="mkdir('{{$.RequestURI}}');" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-folder-open" data-trigger="tooltip" data-content="mkdir" data-position="n"></span></a>
              <a href="" onclick="createFile('{{$.RequestURI}}');return false;"><span class="glyphicon glyphicon-file" data-trigger="tooltip" data-content="newfile" data-position="ne"></span></a>
            </td>
          </tr>
         
          {{range $key, $value := .dirs}}
          <tr class="">
            <td style="color:#5555ff;"><a href="{{$.RequestURI}}{{$value.Fname}}/"><span class="glyphicon glyphicon-folder-open"></span> {{$value.Fname}}</a></td>
            
            <td>{{$value.Fmode}}</td>
            <td>{{$value.Funame}}:{{$value.Fgname}}</td>
            <td>{{$value.Fsize}}</td>
            <td>{{$value.Ftime}}</td>
            <td>
              <a href="" style="" onclick="rename('{{$.RequestURI}}', '{{$value.Fname}}');return false;"><span class="glyphicon glyphicon-move" data-trigger="tooltip" data-position="n" data-content="rename"></span></a>
              <a href="" style="color:red;" onclick="dirRemove('{{$.RequestURI}}{{$value.Fname}}');return false;"><span class="glyphicon glyphicon-floppy-remove" data-trigger="tooltip" data-position="ne" data-content="remove"></span></a>

            </td>
          </tr>
          {{end}}
        </tbody>
        <thead>
          <tr>
            <th width="200">fileName</th>
            <th>mode</th>
            <th>user</th>
            <th>size(M)</th>
            <th>time</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          {{range $key, $value := .files}}
          <tr class="">
            <td style=""><a href="" onclick="readFile('{{$.RequestURI}}{{$value.Fname}}');return false;" ><span class="glyphicon glyphicon-file" data-trigger="tooltip" data-position="nw" data-content="read"></span></a> {{$value.Fname}}</td>
            <td>{{$value.Fmode}}</td>
            <td>{{$value.Funame}}:{{$value.Fgname}}</td>
            <td>{{$value.Fsize}}</td>
            <td>{{$value.Ftime}}</td>
            <td>
              <a href="" style="" onclick="rename('{{$.RequestURI}}', '{{$value.Fname}}');return false;"><span class="glyphicon glyphicon-move" data-trigger="tooltip" data-position="n" data-content="rename"></span></a>
              <a href="" style="color:red;" onclick="fileRemove('{{$.RequestURI}}{{$value.Fname}}');return false;"><span class="glyphicon glyphicon-floppy-remove" data-trigger="tooltip" data-position="ne" data-content="remove"></span></a>
              </td>
          </tr>
          {{end}}
        </tbody>
      </table>
  </div>

{{template "index/footer.html"}}
