{{template "index/header.html" .}}

	<div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th width="200">dirName</th>
            <th>mode</th>
            <th>user</th>
            <th>size(M)</th>
            <th>time</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <td><a style="color:#5555ff;" href="" onclick="back();return false;"><span class="glyphicon glyphicon-backward"></span></a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <a href="" onclick="mkdir();return false;"><span class="glyphicon glyphicon-folder-open"></span></a>
              <a href="" onclick="createFile();return false;"><span class="glyphicon glyphicon-file"></span></a>
            </td>
          </tr>
         
          {{range $key, $value := .dirs}}
          <tr class="">
            <td style="color:#5555ff;"><a href="{{$.RequestURI}}{{$value.Fname}}/">{{$value.Fname}}</a></td>
            
            <td>{{$value.Fmode}}</td>
            <td>{{$value.Funame}}:{{$value.Fgname}}</td>
            <td>{{$value.Fsize}}</td>
            <td>{{$value.Ftime}}</td>
            <td>
              
              <a href="" style="color:red;" onclick="rename('{{$value.Fname}}');return false;"><span class="glyphicon glyphicon-tag"></span></a>
              <a href="" style="color:red;" onclick="dirRemove('{{$value.Fname}}');return false;"><span class="glyphicon glyphicon-trash"></span></a>

            </td>
          </tr>
          {{end}}
        </tbody>
        <thead>
          <tr>
            <th width="200">fileName</th>
            <th>mode</th>
            <th>user</th>
            <th>size(M)</th>
            <th>time</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          {{range $key, $value := .files}}
          <tr class="">
            <td style="">{{$value.Fname}}</td>
            <td>{{$value.Fmode}}</td>
            <td>{{$value.Funame}}:{{$value.Fgname}}</td>
            <td>{{$value.Fsize}}</td>
            <td>{{$value.Ftime}}</td>
            <td>
              <a href="/operation?action=read&file={{$.RequestURI}}{{$value.Fname}}" ><span class="glyphicon glyphicon-list-alt"></span></a>
              <a href="" style="color:red;" onclick="rename('{{$value.Fname}}');return false;"><span class="glyphicon glyphicon-tag"></span></a>
              <a href="" style="color:red;" onclick="dirRemove('{{$value.Fname}}');return false;"><span class="glyphicon glyphicon-trash"></span></a>
              </td>
          </tr>
          {{end}}
        </tbody>
      </table>
  </div>
<script>
function mkdir() {

    var dirname = prompt("Enter dirname ", "");//将输入的内容赋给变量 name ，

    if(dirname) {
        $.ajax({
            url: "/operation",
            type: "get",
            dataType: "json",
            data: {action:"mkdir", dirname: "{{$.RequestURI}}" + dirname},
            success: function(json){
              if(json[0] == '0') {
                  window.location.href = location.href
              } else {
                  alert(json[1]);
              }
            }
        });
     }

    return ;
}

function createFile() {

    var filename = prompt("Enter filename ", "");//将输入的内容赋给变量 name ，

    if(filename) {
        $.ajax({
            url: "/operation",
            type: "get",
            dataType: "json",
            data: {action:"create", filename: "{{$.RequestURI}}" + filename},
            success: function(json){
              if(json[0] == '0') {
                  window.location.href = location.href
              } else {
                  alert(json[1]);
              }
            }
        });
     }

    return ;
}

function rename(filename) {

    var newname = prompt("Enter newname ", "");//将输入的内容赋给变量 name ，

    if(newname) {
        $.ajax({
            url: "/operation",
            type: "get",
            dataType: "json",
            data: {action:"rename", oldname: "{{$.RequestURI}}" + filename,  newname: "{{$.RequestURI}}" + newname},
            success: function(json){
              if(json[0] == '0') {
                  window.location.href = location.href
              } else {
                  alert(json[1]);
              }
            }
        });
     }

    return ;
}

function fileRemove(filename) {
    if (confirm("Are you sure delete '" + filename + "' ? ")) {  
        $.ajax({
            url: "/operation",
            type: "get",
            dataType: "json",
            data: {action:"remove", filename: "{{$.RequestURI}}" + filename},
            success: function(json){
              if(json[0] == '0') {
                  window.location.href = location.href
              } else {
                  alert(json[1]);
              }
            }
        });
    }
    return ;
}

function dirRemove(filename) {
    if (confirm("Are you sure delete '" + filename + "' ? Warning ! This is a directory ")) {  
        $.ajax({
            url: "/operation",
            type: "get",
            dataType: "json",
            data: {action:"remove", filename: "{{$.RequestURI}}" + filename},
            success: function(json){
              if(json[0] == '0') {
                  window.location.href = location.href
              } else {
                  alert(json[1]);
              }
            }
        });
    }
    return ;
}

function back() {
    var url = window.location.href;
    if(url.substr(url.length - 1, url.length) == "/") {
      url = url.substr(0, url.length - 1);
    }
    var strs = url.split("/");
    if(strs.length > 3) {
      strs[strs.length - 1] = "";
      url = strs.join("/");
      window.location.href = url;  
    }
    return;
}

$(function(){
    $(".breadcrumb").append("<li><a href=\"/\">/</a></li>");
    var url = window.location.href;
    if(url.substr(url.length - 1, url.length) == "/") {
      url = url.substr(0, url.length - 1);
    }
    var strs = url.split("/");
    var str = "";
    for(var i = 3; i < strs.length; i++) {
        str += "/" + strs[i];
        $(".breadcrumb").append("<li><a href=\"" + str + "/\">" + strs[i] + "</a></li>");
    }
});

</script>
{{template "index/footer.html"}}
