   <div class="modal fade" id="signForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div style="padding:200px;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">SIGN IN</h4>
          </div>
          <div class="modal-body">
            <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" class="form-control" placeholder="Email address" name="username" required autofocus>
            <input type="password" class="form-control" placeholder="Password" name="password" required>
            <label class="checkbox">
              <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="signIn();return false;">Sign in</button>
          </form>
          </div>
          <div class="modal-footer">
            <div class="alert alert-danger fade in" style="display:none;" id="warningDiv">
				&nbsp;
				<span id="warning" style="float:left;"></span>
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
      </div>
    </div><!-- /.modal -->

    <div class="modal fade" id="registerForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div style="padding:200px;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create your Account</h4>
          </div>
          <div class="modal-body">
            <form class="form-signin">
            <h2 class="form-signin-heading">Create your Account</h2>
            <input type="text" class="form-control" placeholder="Email address" name="reg-username" required autofocus>
            <input type="password" class="form-control" placeholder="Password" name="reg-password" required>
            <input type="password" class="form-control" placeholder="ConfirmPassword" name="reg-confirm" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="register();return false;">Register</button>
          </form>
          </div>
          <div class="modal-footer">
            <div class="alert alert-danger fade in" style="display:none;" id="regWarningDiv">
				&nbsp;
				<span id="regWarning" style="float:left;"></span>
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
      </div>
    </div><!-- /.modal -->
    <script>

	function pleaseSignIn() {
		$("#SingInPopover").popover("toggle");
		return false;
	}

	var Error_String = "<strong>ERROR&nbsp;!&nbsp;&nbsp;</strong>";
	
    function signIn() {
      $("#warningDiv").hide();
      var username = $("[name=username]").val();
      var password = $("[name=password]").val();
      if(username == "") {
        $("#warning").html(Error_String + "Enter your email address. ");
        $("#warningDiv").show();
        return;
      }
      if(password == "") {
        $("#warning").html(Error_String + "Enter your password. ");
        $("#warningDiv").show();
        return;
      }
      var regex = /^[0-9A-Za-z_]{6,16}$/
      if(!regex.test(password)) {
        $("#warning").html(Error_String + "密码必须是6~16位字母或数字");
        $("#warningDiv").show();
        return;
      }

      $.ajax({
        url: "/login/signin/",
        type: "post",
        dataType : "html",
        data: {username:username, password:password},
        success: function(str){
          if(str != 'success') {
            $("#warning").html(Error_String + str);
          $("#warningDiv").show();
          } else {
            window.location.href = location.href
          }
        }
      });
    }
    function logout() {
      $.ajax({
        url: "/login/logout/",
        type: "post",
        dataType : "html",
        success: function(){
          window.location.href = location.href
        }
      });
    }
    function register() {
      $("#warningDiv").hide();
      var username = $("[name=reg-username]").val();
      var password = $("[name=reg-password]").val();
      var confirm = $("[name=reg-confirm]").val();
      if(username == "") {
        $("#regWarning").html(Error_String + "Enter your email address. ");
        $("#regWarningDiv").show();
        return;
      }
      var regex = /^[0-9A-Za-z]{6,16}$/

      if(password == "") {
        $("#regWarning").html(Error_String + "Enter your password. ");
        $("#regWarningDiv").show();
        return;
      }
      if(confirm == "") {
        $("#regWarning").html(Error_String + "Enter your confirm password. ");
        $("#regWarningDiv").show();
        return;
      }
      if(!regex.test(password)) {
        $("#regWarning").html(Error_String + "密码必须是6~16位字母或数字");
        $("#regWarningDiv").show();
        return;
      }
      if(password != confirm) {
        $("#regWarning").html(Error_String + "两次密码不匹配");
        $("#regWarningDiv").show();
        return;
      }

      $.ajax({
        url: "/login/register/",
        type: "post",
        dataType : "html",
        data: {username:username, password:password},
        success: function(str){
          if(str != 'success') {
            $("#regWarning").html(Error_String + str);
            $("#regWarningDiv").show();
          } else {
            window.location.href = location.href
          }
        }
      });
    }
    </script>