<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>how_to_use_syntaxhighlighter</title>
	<script type="text/javascript" src="/static/syntaxhighlighter/src/shCore.js"></script>
	<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
	<link type="text/css" rel="stylesheet" href="/static/syntaxhighlighter/styles/shCoreDefault.css"/>
	<script type="text/javascript">SyntaxHighlighter.all();</script>
</head>

<body style="background: white; font-family: Helvetica">

<pre type="syntaxhighlighter" class="brush: csharp;">
{{.value}}
</pre>
</body>
</html>
